stages:
  - build
  - test

build_env:
  stage: build
  script:
    - cd tests
    - ./build_env.sh
    - cd ..
  artifacts:
    paths:
      - Env/
      - GRAINS/Env/

build_grains:
  stage: build
  script:
    - cd tests
    - ./build_grains.sh
  artifacts:
    paths:
      - GRAINS/Main/

test-grains1:
  stage: test
  script:
    - source ./Env/PacIFiC-CI-RUNNER-OpenMPI-2.1.1-GNU-8.2.1.env.sh
    - cd $PACIFIC_HOME/tests/tests-grains/spheres_settling
    - ./spheres_settling.sh
