# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python files
*.pyc
*.pyo

# Others
*.so.*
Grains3D/Env/grains-*.env.sh
Cartesian/FLUID/Env/fluid-*.env.sh
Cartesian/MacWorld/Env/macworld-*.env.sh
Cartesian/MacWorld/MAC/include/*
*.mak
.tags*
Makedepend
Maketmp

*Makedepend

# Basilisk test files
*.tst

# Folders
Cartesian/MacWorld/hypre-2.10.1/*
Cartesian/MacWorld/hypre/*
Cartesian/MacWorld/hypre
Cartesian/MacWorld/petsc-3.2.0-p7/*
Cartesian/MacWorld/MAC/lib/*
Cartesian/FLUID/lib/*

Grains3D/Main/bin64*/*
Grains3D/Grains/lib64-*/*
Grains3D/Grains/lib64-*
Grains3D/DoxyGRAINS*
Grains3D/README
Grains3D/XERCES*
Grains3D/Tools/PrePost/Position/bin64*
Grains3D/Tools/PrePost/Position/obj64*
Grains3D/Tools/PrePost/ShapeFile/bin64*
Grains3D/Tools/PrePost/ShapeFile/obj64*
Grains3D/Tools/PrePost/RotationMatrix/bin64*
Grains3D/Tools/PrePost/RotationMatrix/obj64*
Octree/basilisk*
