# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python files
*.pyc
*.pyo

# Others
#*.dtd
*.so.*
#PacIFiC-*.env.sh
GRAINS/Env/grains-*.env.sh
Cartesian/FLUID/Env/fluid-*.env.sh
Cartesian/MacWorld/Env/macworld-*.env.sh
Cartesian/MacWorld/MAC/include/*
*.mak
.tags*
Makedepend
Maketmp
Grains3D/Env/grains-*.env.sh

# Basilisk test files
*.tst

# Folders
Cartesian/MacWorld/hypre-2.10.1/*
Cartesian/MacWorld/hypre/*
Cartesian/MacWorld/hypre
Cartesian/MacWorld/petsc-3.2.0-p7/*
Cartesian/MacWorld/MAC/lib/*
Cartesian/FLUID/lib/*
Octree/basilisk/*
Grains3D/Archives*
Grains3D/diffGrains*
Grains3D/DoxyGRAINS/Files
Grains3D/DoxyGRAINS/html
Grains3D/DoxyGRAINS/Images
Grains3D/DoxyGRAINS/Pages
Grains3D/DoxyGRAINS/Pages_style
Grains3D/Main/bin64*/*
Grains3D/Grains/lib64-*/*
Grains3D/Grains/lib64-*
Grains3D/NotIncluded
Grains3D/XERCES*
build
.vscode


