build_env:
  stage: build
  script:
    - cd tests
    - ./build_env.sh
    - ./build_grains.sh
  artifacts:
    untracked: true
    paths:
      - Env/PacIFiC-CI-RUNNER-OpenMPI-2.1.1-GNU-8.2.1.env.sh
      - GRAINS/Env/grains-OpenMPI-2.1.1-GNU-8.2.1.env.sh
      - Cartesian/FLUID/Env/fluid-OpenMPI-2.1.1-GNU-8.2.1.env.sh
      - Cartesian/MacWorld/Env/macworld-OpenMPI-2.1.1-GNU-8.2.1.env.sh
      - Cartesian/MacWorld/MAC/etc/Linux-64-OpenMPI-2.1.1-GNU-8.2.1-MAC-1.0.0-PETSC-3.2.0-HYPRE-2.10.1-MUMPS-4.10.0.mak
      - Cartesian/MacWorld/MAC/etc/extra-Linux-64-OpenMPI-2.1.1-GNU-8.2.1-MAC-1.0.0-PETSC-3.2.0-HYPRE-2.10.1-MUMPS-4.10.0.mak
      - GRAINS/Main/bin64-OpenMPI-2.1.1-GNU-8.2.1/grains
      - GRAINS/Main/obj64-OpenMPI-2.1.1-GNU-8.2.1/main.o

test-grains1:
  stage: test
  dependencies:
    - build
  script:
    - source ./Env/PacIFiC-CI-RUNNER-OpenMPI-2.1.1-GNU-8.2.1.env.sh
    - cd $PACIFIC_HOME/tests/tests-grains/spheres_settling
    - ./spheres_settling.sh
