[submodule "third_party/hdf5/hdf5_submodule"]
	path = third_party/hdf5/hdf5_submodule
	url = https://github.com/HDFGroup/hdf5.git
[submodule "third_party/xercesc/xercesc_submodule"]
	path = third_party/xercesc/xercesc_submodule
	url = https://github.com/apache/xerces-c.git
[submodule "third_party/zlib/zlib_submodule"]
	path = third_party/zlib/zlib_submodule
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "third_party/basilisk/basilisk_submodule"]
	path = third_party/basilisk/basilisk_submodule
	url = https://github.com/PacIFiC-Development-Team/basilisk.git
[submodule "third_party/petsc/petsc_submodule"]
	path = third_party/petsc/petsc_submodule
	url = https://gitlab.com/petsc/petsc.git
