build:
  stage: build
  script:
    - cd tests
    - BUILD_GRAINS=0
    - BUILD_MAC=0
    - BUILD_FLUID=0
    - ./build.sh $BUILD_GRAINS $BUILD_MAC $BUILD_FLUID
    - cat build.env

test-grains1:
  stage: test
  script:
    - echo $PWD 
    - ls
    - ls ./tests
    - source ./tests/build.env
    - printenv
    - cd $PACIFIC_HOME/tests/tests-grains/spheres_settling
    - ./spheres_settling.sh
