build:
  stage: build
  script:
    - cd tests
    - ./source_env.sh
    - echo "Compilation of Grains3D"
    - ./build_grains.sh
    - echo "Compilation of MacWorld"
    - ./build_mac.sh
    - echo "Compilation of FLUID"
    - ./build_fluid.sh
