# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python files
*.pyc
*.pyo

# Others
#*.dtd
#*Makedepend
*.so.*
#PacIFiC-*.env.sh
GRAINS/Env/grains-*.env.sh
Cartesian/FLUID/Env/fluid-*.env.sh
Cartesian/MacWorld/Env/macworld-*.env.sh
Cartesian/MacWorld/MAC/include/*
*.mak
.tags*

# Basilisk test files
*.tst

# Folders
Cartesian/MacWorld/hypre-2.10.1/*
Cartesian/MacWorld/hypre/*
Cartesian/MacWorld/hypre
Cartesian/MacWorld/petsc-3.2.0-p7/*
Cartesian/MacWorld/MAC/lib/*
Cartesian/FLUID/lib/*
GRAINS/Main/bin64*/*
GRAINS/Grains/lib64-*/*
GRAINS/Grains/lib64-*
GRAINS/Utils/*/bin64*/*
GRAINS/diffGrains*
GRAINS/Archives*
GRAINS/DoxyGRAINS*
GRAINS/README
#GRAINS/Utils*
GRAINS/XERCES*
Octree/basilisk/*
GRAINS_V1/Archives*
GRAINS_V1/diffGrains*
GRAINS_V1/DoxyGRAINS/Files
GRAINS_V1/DoxyGRAINS/html
GRAINS_V1/DoxyGRAINS/Images
GRAINS_V1/DoxyGRAINS/Pages
GRAINS_V1/DoxyGRAINS/Pages_style
GRAINS_V1/Main/bin64*/*
GRAINS_V1/Grains/lib64-*/*
GRAINS_V1/Grains/lib64-*
GRAINS_V1/NotIncluded
GRAINS_V1/XERCES*
