#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_shlibdeps:
	dh_shlibdeps --exclude=libpacific

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DBUILD_SHARED_LIBS=ON \
		-DCMAKE_SKIP_RPATH=ON \
		-DCMAKE_CXX_COMPILER=mpicxx \
		-DCMAKE_C_COMPILER=mpicc \
	    -DOCTREE_BASILISK_PROVIDER=SYSTEM
